@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    --scrollbar-track-bg: dark:bg-bg-base;
    --scrollbar-thumb-bg: dark:bg-dark-bg-base;

    transition: all ease .2s;
    color: rgb(var(--foreground-rgb));

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      @apply bg-bg-base dark:bg-dark-bg-base;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-bg-base rounded-[40px] dark:bg-dark-bg-base;
    }
  }
}